@mixin shadow-basic($level: 1, $color: #000) {
  @if $level==1 {
    box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba($color, 0.4);
  } @else if $level==2 {
    box-shadow: 0 1px 5px rgba($color, 0.46);
  } @else if $level==3 {
    box-shadow: 0 0 10px rgba($color, 0.5);
  } @else {
    box-shadow: 0 1px 5px rgba($color, 0.46);
  }
}
