@mixin text-no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin clearfix {
  clear: both;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
