@import "./main.scss";

.choose-contrast-color {
  .should-be-black {
    color: choose-contrast-color(#ebebeb);
  }
  .should-be-white {
    color: choose-contrast-color(#111111);
  }
}

.box1 {
  @include shadow-basic(1, #ff0000);
}

.box2 {
  @include shadow-basic(2, #ff0000);
}

.box3 {
  @include shadow-basic(3, #ff0000);
}

.title {
  @include typewriter(#f00, 300px, 50);
}

.parallax {
  @include parallax("https://placehold.it/1200x800", "800px");
}

.resposive {
  content: "global";

  @include screen("mobile") {
    content: "mobile";
  }

  @include screen("tablet") {
    content: "tablet";
  }

  @include screen("desktop") {
    content: "desktop";
  }

  @include screen("fullhd") {
    content: "fullhd";
  }
}
